@use "variables" as *;
@use "mixins" as *;

.benefits {
  overflow-x: clip;
  background-color: $color-bg-dark;
  @include adaptiveValue(padding-block, 160, 80);
  // .benefits__container
  &__container {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue(gap, 90, 20);
    row-gap: 3.125rem;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  // .benefits__image

  &__image {
    position: relative;
    flex: 1 1 25.375rem;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-30%, -30%);
      width: 30%;
      aspect-ratio: 1 / 1;
      background-color: $color-bg-tonal;
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(30%, 30%);
      // width: 30%;
      width: clamp(6.25rem, 25%, 11.25rem);
      aspect-ratio: 1 / 1;

      background-color: #d6f1cc;
      z-index: 1;
    }
    img {
      height: auto;
      width: 100%;

      position: relative;
      z-index: 2;
    }
  }

  // .benefits__body

  &__body {
    flex: 1 1 31.875rem;
  }

  // .benefits__title

  &__title {
    color: $color-bg-light;
    @include adaptiveValue(font-size, 40, 30);
    line-height: 1.42;
    letter-spacing: 0.02em;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  // .benefits__subtitle

  &__subtitle {
    color: $color-second-text;
    font-size: 0.875rem;
    line-height: 1.42;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 2.9375rem;
  }

  // .benefits__cards

  &__cards {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue(gap, 62, 30);
  }

  // .benefits__card

  &__card {
    flex: 1 1 31.875rem;
    display: flex;
    border-radius: 1.5625rem;
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    gap: 1.5rem;
    align-items: center;
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.2);
    @media (max-width: 37.5em) {
      padding: 1.25rem;
    }
    &--active {
      transition: all 0.3s ease;
      background-color: $color-second-text;
      .benefits__card-title,
      .benefits__card-description {
        color: $color-bg-dark;
      }
    }
  }
  &__card-image {
    width: 100%;
    max-width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--chart {
      background-color: #d4eaf6;
      .benefits__card-icon {
        color: $color-text-hover;
      }
    }
    &--check {
      background-color: #d6f1cc;

      .benefits__card-icon {
        color: #23856d;
      }
    }
    &--mail {
      background-color: #f3dcd5;
      .benefits__card-icon {
        color: $color-primary;
      }
    }
  }

  // .benefits__card-icon

  &__card-icon {
    width: 100%;

    width: 2.5rem;
    height: 2.5rem;
  }
  // .benefits__card-text
  &__card-text {
  }

  // .benefits__card-title

  &__card-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin-bottom: 0.3125rem;
    color: $color-bg-light;
  }

  // .benefits__card-description

  &__card-description {
    font-size: 0.875rem;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color: $color-bg-light;
  }
}
