@use "variables" as *;
@use "mixins" as *;

.btn {
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  background-color: $color-bg-light;
  color: $color-bg-dark;
  padding: 0.375rem 1.5rem;
  border-radius: 1.5625rem;
  line-height: 2;
  transition: all 0.3s;
  &--header {
    @media (max-width: 41.875em) {
      margin-left: auto;
    }
  }
  &--hero {
    padding: 0.625rem 2.5rem;
  }
  &--active {
    background-color: $color-primary;
  }

  &:hover {
    @media (hover: hover) {
      color: $color-text;
      background-color: $color-text-hover;
    }
  }
}
