@use "variables" as *;
@use "mixins" as *;
.swiper {
  width: 100%;
  height: 100%;
  max-width: 55.3125rem;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.swiper-slide {
  display: block;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  background-color: $color-bg-dark;
  @include adaptiveValue(padding-block, 80, 40);
  position: relative;

  // .slider__container

  &__container {
    position: relative;
    padding-left: clamp(1.25rem, 12vw, 9.375rem);
    padding-right: clamp(1.25rem, 12vw, 9.375rem);
    @media (max-width: 48em) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // .slider__title

  &__title {
    font-family: "Open Sans", sans-serif;
    @include adaptiveValue(font-size, 40, 30);
    color: $color-text;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: 0.02em;
    text-align: center;
    @include adaptiveValue(margin-bottom, 110, 40);
  }

  // .slider__image

  &__image {
    position: absolute;
    z-index: 1;
    max-width: clamp(3.125rem, 8vw, 7.5rem);
    @media (max-width: 48em) {
      display: none;
    }
  }

  // .slider__image--2

  &__image--2 {
    top: 20%;
    right: 20%;
  }

  // .slider__image--3

  &__image--3 {
    bottom: 30%;
    right: 5%;
  }

  // .slider__image--4

  &__image--4 {
    top: 15%;
    left: 5%;
  }

  // .slider__image--5

  &__image--5 {
    top: 37%;
    left: 8%;
  }

  // .slider__image--6

  &__image--6 {
    bottom: 5%;
    left: 3%;
  }
}

.swiper-slide {
  // .swiper-slide__body

  &__body {
    background-color: $color-bg-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
  }

  // .swiper-slide__user-icon

  &__user-icon {
    display: block;
    width: 8rem;
    height: 8rem;

    margin: 0 auto 1rem;
  }

  // .swiper-slide__user-name

  &__user-name {
    font-size: 0.875rem;
    letter-spacing: 0.02em;
    font-weight: 600;
    line-height: 1.71;
    color: $color-text;
  }

  // .swiper-slide__user-prof

  &__user-prof {
    font-size: 0.75rem;
    color: $color-second-text;
    line-height: 1.33;
    letter-spacing: 0.02em;
    margin-bottom: 2rem;
  }

  // .swiper-slide__card-star

  &__card-star {
    width: 0.875rem;
    height: 0.875rem;
    cursor: pointer;
    margin-bottom: 1rem;
    --star-fill: #252b42;
    --star-stroke: #ffffff;
    &--active {
      --star-fill: #23856d;
      --star-stroke: #23856d;
    }
  }
}
.swiper-slider {
  // .swiper-slider__comment

  &__comment {
    color: $color-second-text;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 1.25rem;
    max-width: 50.3125rem;
  }
}

.slider .swiper-pagination-bullet {
  background: $color-bg-tonal;
  width: 1rem;
  height: 1rem;
  opacity: 1;
  transform: scale(0.8);
  transition: 0.3s;
}

.slider .swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
  background: $color-primary;
}

.slider .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  @include adaptiveValue(margin-top, 150, 50);
  position: relative;
}
.swiper-wrapper {
  transition: height 0.1s ease;
}
