:root {
  --color-bg-tonal: #394264;
  --color-bg-dark: #252b42;
  --color-bg-light: #ffffff;
  --color-text: #ffffff;
  --color-text-hover: #31a0fe;
  --color-second-text: #ececec;
  --color-primary: #ec5c2e;
  --font-primary: Montserrat, sans-serif;
  --font-secondary: Open Sans, sans-serif;
}

body {
  font-family: var(--font-primary, sans-serif);
}

[class*=__container] {
  width: 100%;
  max-width: 1076px;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}

.btn {
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  background-color: #ffffff;
  color: #252b42;
  padding: 0.375rem 1.5rem;
  border-radius: 1.5625rem;
  line-height: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 41.875em) {
  .btn--header {
    margin-left: auto;
  }
}
.btn--hero {
  padding: 0.625rem 2.5rem;
}
.btn--active {
  background-color: #ec5c2e;
}
@media (hover: hover) {
  .btn:hover {
    color: #ffffff;
    background-color: #31a0fe;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

input {
  width: 100%;
}

button {
  background: none;
}

.header {
  background-color: var(--color-bg-tonal);
  color: var(--color-second-text);
  font-size: 0.875rem;
  font-weight: 600;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}
@media (min-width: 89.375em) {
  .header {
    padding-block: 28px;
  }
}
@media (min-width: 41.875em) and (max-width: 89.375em) {
  .header {
    padding-block: clamp( 10px , -5.8684210526px  +  2.3684210526vw , 28px );
  }
}
@media (max-width: 41.875em) {
  .header {
    padding-block: 10px;
  }
}
.header {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.header__logo {
  overflow: hidden;
  color: var(--color-text);
  font-size: 1rem;
  font-family: var(--font-secondary);
  line-height: 1.5;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  line-height: 2;
}
@media (max-width: 41.875em) {
  .header__menu {
    top: 3.75rem;
    height: calc(100% - 3.75rem);
    position: fixed;
    left: 100%;
    width: 100%;
    background-color: var(--color-bg-tonal);
    padding: 1.875rem 0.9375rem 1.875rem 0.9375rem;
    overflow-y: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 1.25rem;
  }
}

.menu__link {
  display: block;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .menu__link:hover {
    color: #31a0fe;
  }
}

.icon-menu {
  -ms-flex-preferred-size: 1.875rem;
      flex-basis: 1.875rem;
  height: 1.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 20;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 100%;
  right: 0;
  background-color: var(--color-text);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 41.9375em) {
  .icon-menu {
    display: none;
  }
}

/* Mobile menu is open */
html[data-menu-open] .header__menu {
  left: 0;
}

html[data-menu-open] .icon-menu span {
  width: 0;
}

html[data-menu-open] .icon-menu::before {
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  top: 50%;
}

html[data-menu-open] .icon-menu::after {
  -webkit-transform: rotate(45deg) translateY(50%);
          transform: rotate(45deg) translateY(50%);
  bottom: 50%;
}

html[data-menu-open] {
  overflow: hidden;
}

.header--scroll-state {
  padding-block: 10px;
  opacity: 0.9;
}

.hero {
  background-color: #394264;
  color: #ffffff;
}
.hero__body {
  padding-block: 1.875rem 3.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (width < 61.5em) {
  .hero__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__content {
  padding-top: 3.3125rem;
}
.hero__title {
  max-width: 27.5rem;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 88.875em) {
  .hero__title {
    font-size: 48px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .hero__title {
    font-size: clamp( 30px , 24.7731397459px  +  1.6333938294vw , 48px );
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 30px;
  }
}
.hero__title {
  font-weight: 800;
  line-height: 1.33;
  margin-bottom: 1.5625rem;
  letter-spacing: 0.02em;
}
.hero__title span {
  color: #ec5c2e;
}
.hero__description {
  max-width: 22.3125rem;
  font-size: 0.875rem;
  line-height: 1.42;
  color: #ececec;
  letter-spacing: 0.02em;
  font-weight: 300;
  margin-bottom: 3.375rem;
}
.hero__description p:not(:last-child) {
  padding-bottom: 0.625rem;
}
.hero__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3.25rem;
}
@media (max-width: 26.875em) {
  .hero__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.hero__badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1875rem;
}
@media (max-width: 26.875rem) {
  .hero__badge {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__body-badge {
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  line-height: 1.33;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__image {
  position: relative;
}
.hero__image img {
  display: block;
  position: relative;
  z-index: 2;
}
.hero__image::after {
  content: "";
  position: absolute;
  top: 57%;
  left: 50%;
  width: 85%;
  aspect-ratio: 1/1;
  background-color: #31a0fe;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #ffffff;
}

.feature {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62.2%, #394264), color-stop(62.2%, #252b42));
  background: linear-gradient(to bottom, #394264 62.2%, #252b42 62.2%);
}
.feature__cards {
  padding-block: 1.875rem 3.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.9375rem;
  overflow-x: auto;
  margin-inline: -0.9375rem;
}
.feature__card {
  background-color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20.5rem;
          flex: 1 0 20.5rem;
  color: #252b42;
  text-align: center;
  padding: 2.1875rem 2.9063rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature__card-image {
  width: 4.5rem;
  height: 4.5rem;
  display: block;
}
.feature__card-title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.5;
}
.feature__card-text {
  font-size: 0.875rem;
  line-height: 1.42;
  letter-spacing: 0.02em;
}

.product {
  background-color: #252b42;
}
@media (min-width: 88.875em) {
  .product {
    padding-block: 100px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .product {
    padding-block: clamp( 50px , 35.4809437387px  +  4.5372050817vw , 100px );
  }
}
@media (max-width: 20em) {
  .product {
    padding-block: 50px;
  }
}
.product__container {
  max-width: 1093px;
}
.product__header {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 68.5em) {
  .product__header {
    margin-bottom: 50px;
  }
}
@media (min-width: 46.875em) and (max-width: 68.5em) {
  .product__header {
    margin-bottom: clamp( 20px , -45.0289017341px  +  8.6705202312vw , 50px );
  }
}
@media (max-width: 46.875em) {
  .product__header {
    margin-bottom: 20px;
  }
}
.product__title {
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 88.875em) {
  .product__title {
    font-size: 40px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .product__title {
    font-size: clamp( 26px , 21.9346642468px  +  1.2704174229vw , 40px );
  }
}
@media (max-width: 20em) {
  .product__title {
    font-size: 26px;
  }
}
.product__title {
  max-width: 355px;
  letter-spacing: 0.02em;
  line-height: 1.42;
  font-weight: 600;
}
.product__link {
  letter-spacing: 0.02em;
  line-height: 2;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 32px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-left: auto;
}
@media (hover: hover) {
  .product__link:hover {
    color: #31a0fe;
  }
}
.product__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px 17px;
}
.product__card {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 343px;
          flex: 1 1 343px;
  border-radius: 8px;
  overflow: hidden;
}
.product__card-image {
  position: relative;
}
.product__card-image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 8px solid #ffffff;
}
.product__card-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #ffffff;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (hover: hover) {
  .product__card-icon:hover {
    background-color: #d4eaf6;
  }
}
.product__card-body {
  padding: 24px;
}
.product__card-title {
  color: #252b42;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.5;
}
.product__card-subtitle {
  color: #737373;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.71;
  margin-bottom: 13px;
}
.product__card-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  margin-bottom: 13px;
}
.product__card-star {
  width: 0.9rem;
  height: 0.8625rem;
  cursor: pointer;
  color: #737373;
}
.product__card-star use {
  fill: currentColor;
  stroke: none;
}
.product__card-star:hover {
  color: #23856d;
}
.product__card-comment {
  font-size: 12px;
  color: #bdbdbd;
}

.benefits {
  overflow-x: clip;
  background-color: #252b42;
}
@media (min-width: 88.875em) {
  .benefits {
    padding-block: 160px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .benefits {
    padding-block: clamp( 80px , 56.7695099819px  +  7.2595281307vw , 160px );
  }
}
@media (max-width: 20em) {
  .benefits {
    padding-block: 80px;
  }
}
.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 88.875em) {
  .benefits__container {
    gap: 90px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .benefits__container {
    gap: clamp( 20px , -0.3266787659px  +  6.3520871143vw , 90px );
  }
}
@media (max-width: 20em) {
  .benefits__container {
    gap: 20px;
  }
}
.benefits__container {
  row-gap: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.benefits__image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25.375rem;
          flex: 1 1 25.375rem;
}
.benefits__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
  width: 30%;
  aspect-ratio: 1/1;
  background-color: #394264;
  z-index: 1;
}
.benefits__image::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(30%, 30%);
          transform: translate(30%, 30%);
  width: clamp(6.25rem, 25%, 11.25rem);
  aspect-ratio: 1/1;
  background-color: #d6f1cc;
  z-index: 1;
}
.benefits__image img {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 2;
  border-bottom-right-radius: 1.5625rem;
  border-top-left-radius: 1.5625rem;
}
.benefits__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31.875rem;
          flex: 1 1 31.875rem;
}
.benefits__title {
  color: #ffffff;
}
@media (min-width: 88.875em) {
  .benefits__title {
    font-size: 40px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .benefits__title {
    font-size: clamp( 30px , 27.0961887477px  +  0.9074410163vw , 40px );
  }
}
@media (max-width: 20em) {
  .benefits__title {
    font-size: 30px;
  }
}
.benefits__title {
  line-height: 1.42;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.benefits__subtitle {
  color: #ececec;
  font-size: 0.875rem;
  line-height: 1.42;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 2.9375rem;
}
.benefits__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 88.875em) {
  .benefits__cards {
    gap: 62px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .benefits__cards {
    gap: clamp( 30px , 20.7078039927px  +  2.9038112523vw , 62px );
  }
}
@media (max-width: 20em) {
  .benefits__cards {
    gap: 30px;
  }
}
.benefits__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31.875rem;
          flex: 1 1 31.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.5625rem;
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-0.3125rem);
          transform: translateY(-0.3125rem);
  -webkit-box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 37.5em) {
  .benefits__card {
    padding: 1.25rem;
  }
}
.benefits__card--active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ececec;
}
.benefits__card--active .benefits__card-title,
.benefits__card--active .benefits__card-description {
  color: #252b42;
}
.benefits__card-image {
  width: 100%;
  max-width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__card-image--chart {
  background-color: #d4eaf6;
}
.benefits__card-image--chart .benefits__card-icon {
  color: #31a0fe;
}
.benefits__card-image--check {
  background-color: #d6f1cc;
}
.benefits__card-image--check .benefits__card-icon {
  color: #23856d;
}
.benefits__card-image--mail {
  background-color: #f3dcd5;
}
.benefits__card-image--mail .benefits__card-icon {
  color: #ec5c2e;
}
.benefits__card-icon {
  width: 100%;
  width: 2.5rem;
  height: 2.5rem;
}
.benefits__card-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 0.3125rem;
  color: #ffffff;
}
.benefits__card-description {
  font-size: 0.875rem;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.pricing {
  background-color: #252b42;
}
@media (min-width: 88.875em) {
  .pricing {
    padding-block: 110px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .pricing {
    padding-block: clamp( 50px , 32.5771324864px  +  5.444646098vw , 110px );
  }
}
@media (max-width: 20em) {
  .pricing {
    padding-block: 50px;
  }
}
.pricing__container {
  max-width: 1099px;
}
.pricing__title {
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 88.875em) {
  .pricing__title {
    font-size: 48px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .pricing__title {
    font-size: clamp( 30px , 24.7731397459px  +  1.6333938294vw , 48px );
  }
}
@media (max-width: 20em) {
  .pricing__title {
    font-size: 30px;
  }
}
.pricing__title {
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5625rem;
}
.pricing__description {
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  line-height: 1.42;
  max-width: 31.6875rem;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 88.875em) {
  .pricing__description {
    margin-bottom: 90px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .pricing__description {
    margin-bottom: clamp( 40px , 25.4809437387px  +  4.5372050817vw , 90px );
  }
}
@media (max-width: 20em) {
  .pricing__description {
    margin-bottom: 40px;
  }
}
.pricing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.card-plan {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 351px;
          flex: 0 1 351px;
  background-color: #ffffff;
}
@media (min-width: 88.875em) {
  .card-plan {
    padding: 40px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .card-plan {
    padding: clamp( 20px , 14.1923774955px  +  1.8148820327vw , 40px );
  }
}
@media (max-width: 20em) {
  .card-plan {
    padding: 20px;
  }
}
.card-plan {
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 88.875em) {
  .card-plan--active {
    padding-block: 60px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .card-plan--active {
    padding-block: clamp( 35px , 27.7404718693px  +  2.2686025408vw , 60px );
  }
}
@media (max-width: 20em) {
  .card-plan--active {
    padding-block: 35px;
  }
}
.card-plan--active {
  background-color: #394264;
  color: #ffffff;
}
.card-plan--active .card-plan__title,
.card-plan--active .card-plan__cost,
.card-plan--active .card-plan__period,
.card-plan--active .card-plan__item,
.card-plan--active .card-plan__button {
  color: #ffffff;
}
.card-plan--active .card-plan__discount,
.card-plan--active .card-plan__text {
  color: #ececec;
}
.card-plan--active .card-plan__button {
  background-color: #ec5c2e;
}
@media (hover: hover) {
  .card-plan--active .card-plan__button:hover {
    background-color: #31a0fe;
    color: #ffffff;
  }
}
.card-plan__title {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: #252b42;
}
.card-plan__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
@media (min-width: 88.875em) {
  .card-plan__info {
    margin-bottom: 38px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .card-plan__info {
    margin-bottom: clamp( 20px , 14.7731397459px  +  1.6333938294vw , 38px );
  }
}
@media (max-width: 20em) {
  .card-plan__info {
    margin-bottom: 20px;
  }
}
.card-plan__cost {
  position: relative;
  font-size: 2.5rem;
  line-height: 1.42;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #252b42;
}
.card-plan__cost::after {
  position: absolute;
  content: "";
  width: 47px;
  height: 4px;
  background-color: #31a0fe;
  bottom: -17px;
  left: 0;
}
.card-plan__period {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #252b42;
  display: block;
}
.card-plan__discount {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.33;
  color: #737373;
}
.card-plan__text {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.02em;
  color: #737373;
  margin-bottom: 17px;
}
.card-plan__list {
  padding-block: 16px;
  margin-bottom: 17px;
  color: #252b42;
}
.card-plan__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.71;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #252b42;
}
.card-plan__item:not(:last-child) {
  margin-bottom: 19px;
}
.card-plan__item--checked .card-plan__image {
  background-color: #2dc071;
}
.card-plan__image {
  background-color: #bdbdbd;
  border-radius: 50%;
  max-width: 32px;
  width: 100%;
  height: 32px;
  color: #ffffff;
}
.card-plan__icon {
  width: 32px;
  height: 32px;
}
.card-plan__button {
  display: inline-block;
  color: #252b42;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 2;
  text-align: center;
  border-radius: 1.5rem;
  border: 1px solid #252b42;
  width: 100%;
  padding: 0.375rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (hover: hover) {
  .card-plan__button:hover {
    color: #31a0fe;
    border: 0.0625rem solid #31a0fe;
  }
}

@media (min-width: 87em) {
  main {
    padding-top: 96px;
  }
}
@media (min-width: 41.875em) and (max-width: 87em) {
  main {
    padding-top: clamp( 60px , 26.5927977839px  +  4.9861495845vw , 96px );
  }
}
@media (max-width: 41.875em) {
  main {
    padding-top: 60px;
  }
}/*# sourceMappingURL=main.css.map */